@model Assignment2Project.Models.AssetsModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Update Current Asset</h1>


<div class="row mt-3">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AssetId" />
            <div class="form-group">
                <label asp-for="AssetName" class="control-label">Edit Asset name</label>
                <input asp-for="AssetName" class="form-control" />
                <span asp-validation-for="AssetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-dark mt-3" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-dark mt-3" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
