@model Assignment2Project.Models.ReportModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
      
    <form asp-action="Delete">
        <input type="hidden" asp-for="ReportId" />
        <input type="submit" value="Yes" class="btn btn-success me-2" /> 
        <a class="btn btn-danger" asp-action="Index">No</a>
    </form>
</div>
