@model Assignment2Project.Models.AssetModel

@{
    ViewData["Title"] = "Delete";
}


<h3>Are you sure you want to delete this Asset?</h3>
<div> 
        
    <form asp-action="Delete">
        <input type="hidden" asp-for="AssetId" />
        <input type="submit" value="Yes" class="btn btn-success me-2" />
        <a class="btn btn-danger"asp-action="Index">No</a>
    </form>
</div>
